/* Estilização geral da página */
body{
    font-family: Arial, sans-serif;
    background-color: #044d9c;
    margin: 0;
    padding: 20px;
}

/* Container centralizado utilizado em todas as páginas */
.container{
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
    background: #ADD8E6;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.4);
}

/* Título principal */
h1{
    text-align: center;
    color: #044d9c;
    margin-bottom: 25px;
}

/* Organiza os campos dos formulários em coluna */
form{
    display: flex;
    flex-direction: column;
}

/* Estilo dos rótulos dos campos */
label{
    margin-top: 12px;
    font-weight: 800;
    color: #044d9c;
}

/* Estilo dos campos de entrada */
input{
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #999;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Botões utilizados como links */
.botao{
    width: 220px;
    height: 45px;
    border-radius: 5px;
    background-color: #044d9c;
    color: white;
    text-decoration: none;
    font-size: 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
}

.botao:hover{
    background-color: #0269d8;
}

/* Apenas os botões do menu principal */
.container > .botao{
    margin: 15px auto;
}

/* Container que organiza os botões dos formulários */
.botoes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

/* Remove a margem automática do link quando estiver dentro da div .botoes */
.botoes .botao{
    margin: 0;
}

/* Botão submit */
.botoes button{
    width: 220px;
    height: 45px;
    margin: 0;

    border: none;
    border-radius: 5px;
    background-color: #044d9c;
    color: white;
    font-size: 15px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
}

.botoes button:hover{
    background-color: #0269d8;
}

/* Caixa de exibição dos resultados */
.resultado{
    margin-top: 20px;
    background-color: #e9ecef;
    padding: 15px;
    border-radius: 5px;
}